@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    @apply transition-colors duration-100 ease-in-out ;

}
body:lang(ar) {
    font-family: 'Noto Kufi Arabic', sans-serif;
    direction: rtl;
}

body {
    font-family: 'Lato', sans-serif;

}

.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

:root{
    /*--primary: 3, 52, 104;*/
    /*--secondary:  24, 119, 242;*/
    --accent2: 204, 204, 204;
    --dark: 229,229,229;

}

.dark{
    /*--primary: 104, 52, 104;*/
    --accent2: 100, 100, 100;
    --dark: 26,26,26;
}
.light{
    --accent2: 204, 204, 204;
    --dark: 229,229,229;
}



.mary-table-pagination select {
    @apply w-20 h-10 me-4 ;
  }


.overflow-table > div > div {
    overflow: visible !important;
}

.video-container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}
