@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    @apply transition-colors duration-300 ease-out ;

}
body:lang(ar) {
    font-family: 'Noto Kufi Arabic', sans-serif;
    direction: rtl;
}

body {
    font-family: 'Lato', sans-serif;

}

.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

:root{
    /*--primary: 3, 52, 104;*/
    /*--secondary:  24, 119, 242;*/
}

.dark{
    /*--primary: 104, 52, 104;*/

}
